name: home-server

services:
  grafana:
    image: grafana/grafana:11.5.2
    container_name: grafana
    volumes:
      # kics-scan ignore-line
      - grafana-data:/var/lib/grafana
    environment:
      - TZ=${TIMEZONE}
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    ports:
      # kics-scan ignore-line
      - '${HOST_IP}:3000:3000'
    restart: unless-stopped
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

  home-assistant:
    image: homeassistant/home-assistant:2025.2.5
    container_name: home-assistant
    volumes:
      - ${HOME_ASSISTANT_CONFIGURATION_DIRECTORY}:/config
      - ../home-server-configuration/home-assistant/configuration.yaml:/config/configuration.yaml
      - ../home-server-configuration/home-assistant/automations.yaml:/config/automations.yaml
    environment:
      - TZ=${TIMEZONE}
    network_mode: "service:openvpn"
    restart: unless-stopped
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

  matterbridge:
    image: luligu/matterbridge:3.4.6
    container_name: matterbridge
    volumes:
      - ../home-server-configuration/Matterbridge:/root/Matterbridge
      - ../home-server-configuration/.matterbridge:/root/.matterbridge
    network_mode: host
    restart: always
#    cap_drop:
#      - ALL
#    security_opt:
#      - no-new-privileges:true

  mosquitto:
    image: eclipse-mosquitto:2.0.20
    container_name: mosquitto
    volumes:
      - ../home-server-configuration/mosquitto/certs:/etc/mosquitto/certs
      - ../home-server-configuration/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
    environment:
      - TZ=${TIMEZONE}
    ports:
      - '1883:1883'
    restart: unless-stopped
    user: 1000:1000
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

  node-exporter:
    image: prom/node-exporter:v1.9.0
    container_name: node-exporter
    volumes:
      # kics-scan ignore-line
      - /:/host:ro,rslave
    environment:
      - TZ=${TIMEZONE}
    command:
      - '--path.rootfs=/host'
    restart: unless-stopped
    cap_drop:
      - ALL
    pid: host
    security_opt:
      - no-new-privileges:true

  plex:
    image: linuxserver/plex:1.41.5
    container_name: plex
    volumes:
      - ${PLEX_CONFIG_DIRECTORY}/config:/config
      - ${PLEX_CONTENT_DIRECTORY}/content:/content
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
      - VERSION=docker
    network_mode: host
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
    security_opt:
      - no-new-privileges:true

  prometheus:
    image: prom/prometheus:v3.2.1
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      # kics-scan ignore-line
      - prometheus-data:/prometheus
    environment:
      - TZ=${TIMEZONE}
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    restart: unless-stopped
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

  zigbee2mqtt:
    image: koenkk/zigbee2mqtt:2.1.1
    container_name: zigbee2mqtt
    volumes:
      - ../home-server-configuration/zigbee2mqtt:/app/data
    environment:
      - TZ=${TIMEZONE}
    ports:
      # kics-scan ignore-line
      - '${HOST_IP}:8080:8080'
    restart: unless-stopped
    user: 1000:1000
    cap_drop:
      - ALL
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    group_add:
      - dialout
    security_opt:
      - no-new-privileges:true

volumes:
  grafana-data:
  prometheus-data:
