name: Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        options:
          - chris
          - jack
          - newton
        default: chris
      branch:
        description: 'Branch to deploy (optional)'
        required: false
        type: string
        default: main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          audience: ${{ secrets.TS_AUDIENCE }}
          tags: ${{ vars.TAILSCALE_TAG }}
          ping: ${{ vars.TAILSCALE_TARGET_HOST }}

      - name: SSH and run command
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ vars.TAILSCALE_TARGET_HOST }}
          username: ${{ vars.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: /opt/github-deploy/home-server-configuration/start.sh ${{ inputs.branch || 'main' }}
